.lk-container {
    background-color: transparent;
    border: 1px solid $grayLight2Color;
    padding: ($unit * 0.5);
    border-radius: $border-radius;
}

.lk-container--sm {
    padding: ($unit * 0.25);
}

.lk-container--lg {
    padding: $unit;
}

.lk-container--gray {
    background-color: rgba(black, 0.1);
    border-color: rgba(black, 0.25);
}

.lk-container--primary {
    border-color: $primaryColor;
}

.lk-container--success {
    border-color: $successColor;
}

.lk-container--warning {
    border-color: $warningColor;
}

.lk-container--danger {
    border-color: $dangerColor;
}
