.lk-image {
    display: block;
    max-width: 100%;
    height: auto;
}

.lk-image--border {
    border: 1px solid rgba(black, 0.1);
}

.lk-image__label {
    display: block;
    font-size: ($unit * 0.8);
    color: rgba(black, 0.3);
    margin: ($unit * 0.5) 0 ($unit * 2);
}
