.lk-number-circle {
    border: 1px solid $numberCircleBorderColor;
    color: $numberCircleTextColor;
    border-radius: 50%;
    padding: ($unit * 0.25) 0;
    margin-right: $unit;
    font-size: $font-size-minus-1;
    float: left;
    width: ($unit * 2.25);
    height: ($unit * 2.25);
    text-align: center;
}

.lk-number-circle--xs,
.lk-number-circle--sm,
.lk-number-circle--lg,
.lk-number-circle--xl {
    padding: 0;
}

.lk-number-circle--xs {
    width: ($unit * 1.25);
    height: ($unit * 1.25);
    line-height: ($unit * 1.2);
    font-size: $font-size-minus-3;
}

.lk-number-circle--sm {
    width: ($unit * 1.75);
    height: ($unit * 1.75);
    line-height: ($unit * 1.65);
    font-size: $font-size-minus-2;
}

.lk-number-circle--lg {
    width: ($unit * 3);
    height: ($unit * 3);
    line-height: ($unit * 2.9);
    font-size: $font-size-plus-1;
}

.lk-number-circle--xl {
    width: ($unit * 4);
    height: ($unit * 4);
    line-height: ($unit * 3.8);
    font-size: $font-size-plus-3;
}

.lk-number-circle--secondary {
    color: $secondaryColor;
    border-color: $secondaryColor;
}

.lk-number-circle--success {
    color: $successColor;
    border-color: $successColor;
}

.lk-number-circle--warning {
    color: $warningColor;
    border-color: $warningColor;
}

.lk-number-circle--info {
    color: $infoColor;
    border-color: $infoColor;
}

.lk-number-circle--danger {
    color: $dangerColor;
    border-color: $dangerColor;
}

.lk-number-circle--white {
    color: #ffffff;
    border-color: #ffffff;
}

.lk-number-circle--dark {
    color: $grayLight4Color;
    border-color: $grayLight4Color;
}
