// Color system
$white: #fff;
$gray-disabled: #eaebec;
$gray-100: #fafbfc;
$gray-200: #fafbfc;
$gray-250: #fafbfc;
$gray-300: #bbcdd2;
$gray-400: #bbcdd2;
$gray-450: #b3c7cd;
$gray-500: #6c868e;
$gray-550: #708090;
$gray-600: #6c868e;
$gray-700: #363a41;
$gray-750: #363a41;
$gray-800: #363a41;
$gray-900: #282b30;
$black: #000;

// PS Vars
$extra-light-gray: $gray-100;
$light-gray: $gray-300;
$medium-gray: $gray-500;
$dark-gray: $gray-700;
$extra-dark-gray: $gray-900;
$gray-light: $light-gray;
$gray-medium: $medium-gray;
$gray-dark: $dark-gray;
$gray-soft: $gray-200;
$background-color: #eff1f2;
$primary-lighten: #f4fcfd;
$local-font: false !default;
$blue: #25b9d7;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #f54c3e;
$orange: #fd7e14 !default;
$yellow: #fab000;
$green: #70b580;
$orange: #fd7e14 !default;
$teal: #20c997 !default;
$cyan: $blue;
$light-blue: #f4fcfd;

$primary-hover: #7cd5e7;
$primary-active: #21a6c1;
$primary-disabled: #d3f1f7;
$secondary-hover: #b7ced3;
$secondary-active: #889da2;
$danger-hover: #fde1e1;
$notice: #dff5f9;

$primary: $blue !default;
$secondary: $medium-gray;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;
$outline-color: #005fcc;