//@import url('../../assets/scss/color-palette.scss');


// .lk{
//   &-button{
//     font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
//     font-weight: 700;
//     border: 0;
//     border-radius: 3em;
//     cursor: pointer;
//     display: inline-block;
//     line-height: 1;
//     &--primary{
//       color: white;
//       background-color: #1ea7fd;
//     }
//     &--secondary{
//       color: #333;
//       background-color: transparent;
//       box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
//     }
//     &--small{
//       font-size: 12px;
//       padding: 10px 16px;
//     }
//     &--medium{
//       font-size: 14px;
//       padding: 11px 20px;
//     }
//     &--large{
//       font-size: 16px;
//       padding: 12px 24px;
//     }
//   }
// }


/**
 * Buttons
 * =================================
 * - Associated Button Variables
 * - Base button styling
 * – Button Modifiers
 * 	 – btn--primary
 *   – btn--block
 */


/**
 * Define associated Button variables
 */
 $btn-borderRadius                : 5px;
 //$btn-default-bgColor             : $gray;
$btn-default-bgColor             : #95a5a6;
 $btn-default-bgColor--highlight  : darken($btn-default-bgColor, 10%);
 
 //$btn-primary-bgColor             : $color-link-default;
 $btn-default-bgColor             : #e0e0e0;
 $btn-default-bgColor--highlight  : darken($btn-default-bgColor, 10%);

 $btn-primary-bgColor             : #1ea7fd;
 $btn-primary-bgColor--highlight  : darken($btn-primary-bgColor, 10%);
 
 $btn-secondary-bgColor             : transparent;
 $btn-secondary-bgColor--highlight  : lighten($btn-secondary-bgColor, 10%);

 
 /**
  * Base button styles – Based on csswizardry.com/beautons
  *
  * 1. Allow us to better style box model properties.
  * 2. Line different sized buttons up a little nicer.
  * 3. Stop buttons wrapping and looking broken.
  * 4. Make buttons inherit font styles.
  * 5. Force all elements using beautons to appear clickable.
  * 6. Normalise box model styles.
  * 7. If the button’s text is 1em, and the button is (3 * font-size) tall, then
  *    there is 1em of space above and below that text. We therefore apply 1em
  *    of space to the left and right, as padding, to keep consistent spacing.
  * 8. Fixes odd inner spacing in IE7.
  * 9. Don’t allow buttons to have underlines; it kinda ruins the illusion.
  *10. Prevents from inheriting default anchor styles.
  */
 
.lk{
  &-button {
   display: inline-block;      /* [1] */
   vertical-align: middle;     /* [2] */
   white-space: nowrap;        /* [3] */
   font-family: inherit;       /* [4] */
   font-size: 100%;            /* [4] */
   cursor: pointer;            /* [5] */
   border: none;               /* [6] */
   margin: 0;                  /* [6] */
   padding-top:    0;          /* [6] */
   padding-bottom: 0;          /* [6] */
   line-height: 2.5;           /* [7] */
   height:      2.5em;         /* [7] */
   padding-right: 1.5em;       /* [7] */
   padding-left: 1.5em;        /* [7] */
   overflow: visible;          /* [8] */
   text-align: center;
   border-radius: $btn-borderRadius;
   user-select: none;
 
   // You may want to change this
   background-color: $btn-default-bgColor;
 
   &,
   &:link,
   &:visited {
     color: #fff;
   }
 
   &:hover,
   &:active,
   &:focus {
     background-color: $btn-default-bgColor--highlight;
   }
 
   &,
   &:hover,
   &:active,
   &:focus,
   &:visited {
     text-decoration: none;
   }
 
   &:active,
   &:focus {
     outline: none;
   }
 
   // Disabled state
   &.disabled,
   &[disabled] {
     cursor: default;
     background-image: none;
     opacity: .5;
   }

  // Set the backgrounds
  // -------------------------
  &--primary {
    background-color: $btn-primary-bgColor;
    &,
    &:link,
    &:visited {
      color: #fff;
    }
  
    &:hover,
    &:active,
    &:focus {
      background-color: $btn-primary-bgColor--highlight;
    }
  }
  &--secondary{
    background-color: $btn-secondary-bgColor;
    &,
    &:link,
    &:visited {
      color: #333;
    }
  
    &:hover,
    &:active,
    &:focus {
      background-color: $btn-secondary-bgColor--highlight;
    }

    
    //background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  }
  &--default {
    background-color: $btn-default-bgColor;
    &,
    &:link,
    &:visited {
      color: #3f3f3f;
    }
  
    &:hover,
    &:active,
    &:focus {
      background-color: $btn-default-bgColor--highlight;
    }
    
  }

  // Set the size
  // -------------------------
  &--small{font-size: 12px}
  &--medium{font-size: 14px}
  &--large{font-size: 16px}

  // Set the shape
  // -------------------------
  &--oval {border-radius: $btn-borderRadius;}
  &--rectangular {border-radius: 0}

  // Set the shape
  // -------------------------
  &--shadow {box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2)}

  
  
  &--outline {
    border: 1px solid #3d5afe;
    color: #3d5afe;
    background-color: transparent;
    &:hover{
      background-color: rgba(41, 98, 255, 0.1);
    }
  }
  &--text{
    border-color: transparent;
    color: #3d5afe;
    background-color: transparent;
    &:hover{
      background-color: rgba(41, 98, 255, 0.1);
    }
  }

  // Block button
  // -------------------------
  &--block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  
    // Vertically space out multiple block buttons
    // same ad .btn--block + .btn--block
    & + & {margin-top: 10px}
  }

 }
}

 
 // Specificity overrides
 input[type="submit"],
 input[type="reset"],
 input[type="button"] {
   &.btn--block {
     width: 100%;
   }
 }
 