
@font-face {
  font-family: 'Basis Grotesque Arabic Pro';
  src: url('BasisGrotesqueArabicPro-Light.eot');
  src: url('BasisGrotesqueArabicPro-Light.eot?#iefix') format('embedded-opentype'),
      url('BasisGrotesqueArabicPro-Light.woff2') format('woff2'),
      url('BasisGrotesqueArabicPro-Light.woff') format('woff'),
      url('BasisGrotesqueArabicPro-Light.ttf') format('truetype'),
      url('BasisGrotesqueArabicPro-Light.svg#BasisGrotesqueArabicPro-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basis Grotesque Arabic Pro';
  src: url('BasisGrotesqueArabicPro-Regular.eot');
  src: url('BasisGrotesqueArabicPro-Regular.eot?#iefix') format('embedded-opentype'),
      url('BasisGrotesqueArabicPro-Regular.woff2') format('woff2'),
      url('BasisGrotesqueArabicPro-Regular.woff') format('woff'),
      url('BasisGrotesqueArabicPro-Regular.ttf') format('truetype'),
      url('BasisGrotesqueArabicPro-Regular.svg#BasisGrotesqueArabicPro-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Basis Grotesque Arabic Pro';
  src: url('BasisGrotesqueArabicPro-Medium.eot');
  src: url('BasisGrotesqueArabicPro-Medium.eot?#iefix') format('embedded-opentype'),
      url('BasisGrotesqueArabicPro-Medium.woff2') format('woff2'),
      url('BasisGrotesqueArabicPro-Medium.woff') format('woff'),
      url('BasisGrotesqueArabicPro-Medium.ttf') format('truetype'),
      url('BasisGrotesqueArabicPro-Medium.svg#BasisGrotesqueArabicPro-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basis Grotesque Arabic Pro';
  src: url('BasisGrotesqueArabicPro-Bold.eot');
  src: url('BasisGrotesqueArabicPro-Bold.eot?#iefix') format('embedded-opentype'),
      url('BasisGrotesqueArabicPro-Bold.woff2') format('woff2'),
      url('BasisGrotesqueArabicPro-Bold.woff') format('woff'),
      url('BasisGrotesqueArabicPro-Bold.ttf') format('truetype'),
      url('BasisGrotesqueArabicPro-Bold.svg#BasisGrotesqueArabicPro-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basis Grotesque Arabic Pro';
  src: url('BasisGrotesqueArabicPro-Black.eot');
  src: url('BasisGrotesqueArabicPro-Black.eot?#iefix') format('embedded-opentype'),
      url('BasisGrotesqueArabicPro-Black.woff2') format('woff2'),
      url('BasisGrotesqueArabicPro-Black.woff') format('woff'),
      url('BasisGrotesqueArabicPro-Black.ttf') format('truetype'),
      url('BasisGrotesqueArabicPro-Black.svg#BasisGrotesqueArabicPro-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}






