@use 'sass:math';

.lk-button-dropdown {
    border-radius: $btn-border-radius;
    display: inline-block;
}

.lk-button-dropdown__button,
.lk-multi-select__button {
    padding-right: ($unit * 2);

    &:after {
        content: '';
        position: absolute;
        top: ($unit * 1.3);
        right: $unit;
        width: 0;
        height: 0;
        border-top: math.div($unit, 3) solid transparent;
        border-bottom: math.div($unit, 3) solid transparent;
        border-left: ($unit * 0.5) solid white;
        @include transition-ease-out(all, 250ms);
    }
}

.lk-button-dropdown__button--no-rotate:after {
    transform: rotate(90deg);
}

.lk-button-dropdown__button--dark {
    color: white !important;
    &:after {
        border-left: ($unit * 0.5) solid white !important;
    }
}

.lk-button-dropdown__button--dark-primary {
    color: $primaryColor !important;

    &:after {
        border-left: ($unit * 0.5) solid $primaryColor !important;
    }
}

.lk-button-dropdown__button--dark-secondary {
    color: $secondaryColor !important;

    &:after {
        border-left: ($unit * 0.5) solid $secondaryColor !important;
    }
}

.lk-button-dropdown__button--dark-tertiary {
    color: $tertiaryColor !important;

    &:after {
        border-left: ($unit * 0.5) solid $tertiaryColor !important;
    }
}

.lk-button-dropdown--in-group {
    display: inline-block;
    margin-left: -1px;
    padding: 0;

    .lk-button-dropdown__button {
        margin-left: 0;
        border-radius: 0 !important;
        padding-right: ($unit * 2);
        &.lk-button-dropdown__button--dark {
            color: $primaryColor;
        }
    }

    &:last-child {
        .lk-button-dropdown__button {
            border-bottom-right-radius: $border-radius !important;
            border-top-right-radius: $border-radius !important;
        }
    }

    &:first-child {
        .lk-button-dropdown__button {
            border-bottom-left-radius: $border-radius !important;
            border-top-left-radius: $border-radius !important;
        }
    }
}

.lk-button-dropdown--lg,
.lk-button-group--lg > .lk-button-dropdown {
    .lk-button-dropdown__button,
    .lk-multi-select__button {
        font-size: $btn-font-size-large;
        padding: $btn-padding-large;
        padding-right: ($unit * 3);

        &:after {
            top: ($unit * 1.8);
            margin-left: ($unit * 1.5);
        }
        &.lk-button-dropdown__button--dark:after {
            border-left: math.div($unit, 3) solid $primaryColor;
        }
    }

    .lk-button-dropdown__menu-link,
    .lk-multi-select__menu-link {
        font-size: $font-size-plus-2;
    }
}

.lk-button-dropdown--sm,
.lk-button-group--sm > .lk-button-dropdown,
.lk-multi-select--sm {
    .lk-button-dropdown__button,
    .lk-multi-select__button {
        font-size: $btn-font-size-small;
        padding: $btn-padding-small;
        padding-right: ($unit * 1.5);

        &:after {
            top: ($unit * 0.9);
            right: $unit * 0.75;
            margin-left: ($unit * 0.5);
            border-top: ($unit * 0.25) solid transparent;
            border-bottom: ($unit * 0.25) solid transparent;
            border-left: math.div($unit, 2.5) solid white;
        }
        &.lk-button-dropdown__button--dark:after {
            border-left: math.div($unit, 2.5) solid $primaryColor;
        }
    }

    .lk-button-dropdown__menu,
    .lk-multi-select__menu {
        margin-top: -5px;
    }

    .lk-button-dropdown__menu-link,
    .lk-multi-select__menu-link {
        font-size: $font-size-minus-2;
    }
}

.lk-button-dropdown--xs,
.lk-button-group--xs > .lk-button-dropdown,
.lk-multi-select--xs {
    .lk-button-dropdown__button,
    .lk-multi-select__button {
        font-size: $btn-font-size-xsmall;
        padding: $btn-padding-xsmall;
        padding-right: $unit;

        &:after {
            top: ($unit * 0.65);
            right: $unit * 0.4;
            margin-left: ($unit * 0.7);
            border-top: ($unit * 0.2) solid transparent;
            border-bottom: ($unit * 0.2) solid transparent;
            border-left: math.div($unit, 3) solid white;
        }
        &.lk-button-dropdown__button--dark:after {
            border-left: math.div($unit, 3) solid $primaryColor;
        }
    }

    .lk-button-dropdown__menu,
    .lk-multi-select__menu {
        margin-top: -5px;
    }

    .lk-button-dropdown__menu-link,
    .lk-multi-select__menu-link {
        font-size: $font-size-minus-2;
    }
}

.lk-button-dropdown__menu,
.lk-multi-select__menu {
    position: absolute;
    width: 100%;
    min-width: 0 !important;
    height: auto;
    transform: scaleY(0);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    display: block;
    overflow: hidden;
    padding: 0;
    margin-top: -3px;
    color: $buttonDropdownMenuPrimaryBackgroundColor;
    background-color: #fff;
    border: 1px solid rgba(black, 0.1);
    transform-origin: 50% 0%;
    max-height: ($unit * 25);
    overflow-y: auto;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0);
    @include transition-ease-out(all, 150ms);
}

.lk-button-dropdown__menu--dark {
    background-color: $grayLight3Color;
    border-color: $lk-gray;
}

.lk-button-dropdown__menu-item,
.lk-multi-select__menu-item {
    opacity: 0;
    transform: translateX(-100px);
    @include transition-ease-out(all, 250ms);

    @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
            transition-delay: (0.025s * $i);
        }
    }
}

.lk-button-dropdown__menu-link,
.lk-multi-select__menu-link {
    padding: ($unit * 0.25) $unit;
    display: block;
    cursor: pointer;
    @include transition-ease-out(all, 250ms);

    &:hover {
        text-decoration: none;
        background-color: rgba(white, 0.15);

        &:before {
            opacity: 1;
            transform: translateX(0px);
        }
    }
}

.lk-button-dropdown__divider {
    transform: translateX(-100%);
    height: 2px;
    width: 100%;
    background-color: rgba(white, 0.1);
    border-bottom: 1px solid rgba(black, 0.2);
    @include transition-back(all, 250ms);

    @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
            transition-delay: (0.1s * $i);
        }
    }
}

// Menu expanded states
.lk-button-dropdown--active {
    z-index: $z-index-10;

    .lk-button-dropdown__button,
    .lk-multi-select__button {
        z-index: $z-index-10;
        &:after {
            transform: rotate(90deg);
        }
    }

    .lk-button-dropdown__menu,
    .lk-multi-select__menu {
        transform: scaleY(1);
        // box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    }

    .lk-button-dropdown__menu-item,
    .lk-multi-select__menu-item {
        opacity: 1;
        transform: translateX(0px);
    }

    .lk-button-dropdown__divider {
        transform: translateX(0%);
    }
}

// Alternate colors
.lk-button-dropdown--secondary .lk-button-dropdown__menu {
    color: $buttonDropdownMenuSecondaryBackgroundColor;
}

.lk-button-dropdown--tertiary .lk-button-dropdown__menu {
    color: $buttonDropdownMenuTertiaryBackgroundColor;
}

.lk-button-dropdown__button--dark-primary + .lk-button-dropdown__menu--dark {
    color: $buttonDropdownMenuPrimaryDarkBackgroundColor;
}

.lk-button-dropdown__button--dark-secondary + .lk-button-dropdown__menu--dark {
    color: $buttonDropdownMenuSecondaryDarkBackgroundColor;
}

.lk-button-dropdown__button--dark-tertiary + .lk-button-dropdown__menu--dark {
    color: $buttonDropdownMenuTertiaryDarkBackgroundColor;
}
