// Button group
.lk-button-group {
    border-radius: $btn-border-radius;
    display: inline-block;
}

.lk-button-group__button,
.lk-button-dropdown--in-group > .lk-button-dropdown__button {
    margin-right: 0;
    border-radius: 0;

    + .lk-button-dropdown {
        display: inline-block;
    }

    + .lk-button,
    + small,
    + p {
        margin-left: 0;
        border-top-left-radius: 0;
    }

    &:not(:first-child):not(:last-child) {
        border-radius: 0;
        margin-left: -1px;
    }

    &:last-child {
        margin-left: -1px;
        border-bottom-right-radius: ($border-radius * 10);
        border-top-right-radius: ($border-radius * 10);
    }
    &:first-child {
        border-bottom-left-radius: ($border-radius * 10);
        border-top-left-radius: ($border-radius * 10);
    }
    &:hover,
    &:focus,
    &:focus:hover {
        z-index: $z-index-1;
    }
}

// Button-group - large
.lk-button-group--lg {
    .lk-button,
    .lk-button-group__button {
        font-size: $btn-font-size-large;
        padding: $btn-padding-large;
    }
}

// Button-group - small
.lk-button-group--sm {
    .lk-button,
    .lk-button-group__button {
        font-size: $btn-font-size-small;
        padding: $btn-padding-small;
        &:active {
            &:before {
                bottom: 0 !important;
            }
        }
    }
}

// Button-group - xsmall
.lk-button-group--xs {
    .lk-button,
    .lk-button-group__button {
        font-size: $btn-font-size-xsmall;
        padding: $btn-padding-xsmall;

        &:active {
            &:before {
                bottom: 0 !important;
            }
        }
    }
}

// Set buttons to block at phone width
@media #{$phone-width}, #{$phablet-width} {
    .lk-button-group--responsive,
    .lk-button-group__button--responsive {
        display: block;
        width: 100%;
    }

    .lk-button-group__button--responsive {
        &:not(first-child):not(last-child) {
            border-radius: $btn-border-radius !important;
            border: none;
        }

        &:first-child {
            border-radius: $btn-border-radius !important;
            border: none;
        }

        &:last-child {
            border-radius: $btn-border-radius !important;
            border: none;
        }
    }

    .lk-button-group--responsive {
        margin-left: 0 !important;
    }

    .lk-button-group--responsive .lk-button--responsive + .lk-button--responsive,
    .lk-button-group--responsive .lk-button--responsive + .lk-button-group--responsive,
    .lk-button-group--responsive .lk-button-group--responsive + .lk-button--responsive,
    .lk-button-group--responsive .lk-button-group--responsive + .lk-button-group--responsive {
        margin-left: 0;
    }
}
