@use "../abstracts" as *;

.lk{
  &-badge{
    border-radius: 6.25rem;
    width: fit-content;
    color: $neutral-0;
    display: flex;
    align-items: center;
    padding: 0.1rem 0.6rem;
    font-size: 14px;
    line-height: 1.4rem;
    &-content {
      margin-left: 4px;
    }
    // ===== size varians ======
    &--sm{
      [class*="icon"] > .lk-icon{width: 12px;}
      [class*="text"]{font-size: 12px;}
    }
    &--md{
      [class*="icon"] > .lk-icon{width: 14px;}
      [class*="text"]{font-size: 14px;}
    }
    &--lg{font-size: 20px}
    // ====== color variants =======
    // ====== color variants =======
    &--primary {background-color: $primary-600}
    &--danger {background-color: $danger-500}
    &--warning {background-color: $warning-500}
    &--success {background-color: $success-500}
    &--dark {background-color: $neutral-500}

    &__icon-slot{margin-right: 5px;}
  }
}







