//@import url('../../assets/scss/color-palette.scss');
@use "../abstracts" as *;

// .lk{
//   &-button{
//     font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
//     font-weight: 700;
//     border: 0;
//     border-radius: 3em;
//     cursor: pointer;
//     display: inline-block;
//     line-height: 1;
//     &--primary{
//       color: white;
//       background-color: #1ea7fd;
//     }
//     &--secondary{
//       color: #333;
//       background-color: transparent;
//       box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
//     }
//     &--small{
//       font-size: 12px;
//       padding: 10px 16px;
//     }
//     &--medium{
//       font-size: 14px;
//       padding: 11px 20px;
//     }
//     &--large{
//       font-size: 16px;
//       padding: 12px 24px;
//     }
//   }
// }


/**
 * Buttons
 * =================================
 * - Associated Button Variables
 * - Base button styling
 * – Button Modifiers
 * 	 – btn--primary
 *   – btn--block
 */


/**
 * Define associated Button variables
 */
//  $border-size: 2px;
//  $horizontal-borders: 'calc(%s * 2)' % $border-size;

 $btn-borderRadius                : $borderRadius;
 $btn-default-bgColor             : $gray;
 $btn-default-bgColor--highlight  : darken($btn-default-bgColor, 10%);

 $btn-primary-bgColor             : #1ea7fd;
 $btn-primary-bgColor--highlight  : darken($btn-primary-bgColor, 10%);
 
 $btn-secondary-bgColor             : transparent;
 $btn-secondary-bgColor--highlight  : lighten($btn-secondary-bgColor, 10%);

 $btn-success-bgColor             : $green;
 $btn-success-bgColor--highlight  : lighten($btn-success-bgColor, 10%);

 $btn-danger-bgColor             : $red;
 $btn-danger-bgColor--highlight  : lighten($btn-danger-bgColor, 10%);

 
 /**
  * Base button styles – Based on csswizardry.com/beautons
  *
  * 1. Allow us to better style box model properties.
  * 2. Line different sized buttons up a little nicer.
  * 3. Stop buttons wrapping and looking broken.
  * 4. Make buttons inherit font styles.
  * 5. Force all elements using beautons to appear clickable.
  * 6. Normalise box model styles.
  * 7. If the button’s text is 1em, and the button is (3 * font-size) tall, then
  *    there is 1em of space above and below that text. We therefore apply 1em
  *    of space to the left and right, as padding, to keep consistent spacing.
  * 8. Fixes odd inner spacing in IE7.
  * 9. Don’t allow buttons to have underlines; it kinda ruins the illusion.
  *10. Prevents from inheriting default anchor styles.
  */
 
.lk{
  &-button {
   display: flex;              /* [1] */
   justify-content: center;    /* [2] */
   align-items:center;         /* [2] */
   vertical-align: middle;     /* [2] */
   white-space: nowrap;        /* [3] */
   font-family: inherit;       /* [4] */
   font-size: 100%;            /* [4] */
   cursor: pointer;            /* [5] */
   border: none;               /* [6] */
   margin: 0;                  /* [6] */
   padding-top:    0;          /* [6] */
   padding-bottom: 0;          /* [6] */
   line-height: 2.5;           /* [7] */
   //height:      2.5em;       /* [7] */
   padding-right: 1.5em;       /* [7] */
   padding-left: 1.5em;        /* [7] */
   overflow: visible;          /* [8] */
   text-align: center;
   border-radius: 0px;
   user-select: none;
 
   // You may want to change this
   
   border-color: transparent;
   border-width: 2px;
   border-style: solid;
 
   &,
   &:link,
   &:visited {
     color: $bright ;
     background-color: $btn-default-bgColor;
     border-color: $btn-default-bgColor;
   }
 
   &:hover,
   &:active,
   &:focus {
      color:$bright;
      background-color: $btn-default-bgColor--highlight;
   }
 
   &,
   &:hover,
   &:active,
   &:focus,
   &:visited {
     text-decoration: none;
   }
 
   &:active,
   &:focus {
     outline: none;
   }
 
   // Disabled state
   &.disabled,
   &[disabled] {
     cursor: default;
     background-image: none;
     opacity: .5;
   }

  &--filled {
    background-color: $btn-default-bgColor;
    color:$bright;
  }
  &--outline {
    border-color:$btn-default-bgColor;
    background-color: transparent;
    color:$btn-default-bgColor;
    &:hover{
      //background-color: rgba(41, 98, 255, 0.1);
    }
  }
  &--text{
    //color: #3d5afe;
    background-color: transparent;
    box-shadow: none;
    border-color: transparent;
    color:$btn-default-bgColor;
    &:hover{
      //background-color: rgba(41, 98, 255, 0.1);
    }
  } 
  // Set the backgrounds
  // -------------------------
  &--primary {
    border-color: $btn-primary-bgColor;
    background-color: $btn-primary-bgColor;
    &,
    &:link,
    &:visited {
      color: #fff;
    }
  
    &:hover,
    &:active,
    &:focus {
      background-color: $btn-primary-bgColor--highlight;
    }
  }
  &--secondary{
    background-color: $btn-secondary-bgColor;
    &,
    &:link,
    &:visited {
      color: #333;
    }
  
    &:hover,
    &:active,
    &:focus {
      background-color: $btn-secondary-bgColor--highlight;
    }

    
    //background-color: transparent;
    //box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  }
  &--success{
    background-color: $btn-success-bgColor;
    border-color: $btn-success-bgColor;
    &,
    &:link,
    &:visited {
      color: #fff;
    }
  
    &:hover,
    &:active,
    &:focus {
      background-color: $btn-success-bgColor--highlight;
    }

    
    //background-color: transparent;
    //box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  }
  &--danger{
    background-color: $btn-danger-bgColor;
    border-color: $btn-danger-bgColor;
    &,
    &:link,
    &:visited {
      color: #fff;
    }
  
    &:hover,
    &:active,
    &:focus {
      background-color: $btn-danger-bgColor--highlight;
    }

    
    //background-color: transparent;
    //box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  }
  &--default {
    background-color: $btn-default-bgColor;
    &,
    &:link,
    &:visited {
      color: #3f3f3f;
    }
  
    &:hover,
    &:active,
    &:focus {
      background-color: $btn-default-bgColor--highlight;
    }
    
  }

  // Set the size
  // -------------------------
  &--sm{font-size: 12px; /*padding: 'calc(5px - %s) 16px' % $horizontal-borders*/}
  &--md{font-size: 14px; /*padding: 'calc(13px - %s) 16px' % $horizontal-borders*/}
  &--lg{font-size: 16px; /*padding: 'calc(19px - %s) 16px' % $horizontal-borders*/}


  // Set the shape
  // -------------------------
  &--rounded {border-radius: $btn-borderRadius}

  // Set the shadow
  // -------------------------
  &--shadow {box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2)}

  
  // &__icon-slot{order:1}
  // &__text{order: 2}
  &__icon-slot + &__text,
  &__text + &__icon-slot{margin-left: 10px}
  &--onlyIcon > [class*="text"]{text-indent: -999em;}
  &--onlyIcon > [class*="text"] + div[class*="icon-slot"]{margin-left: 0px}


  // Block button
  // -------------------------
  &--block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  
    // Vertically space out multiple block buttons
    // same ad .btn--block + .btn--block
    & + & {margin-top: 10px}
  }

 }
}

 
 // Specificity overrides
 input[type="submit"],
 input[type="reset"],
 input[type="button"] {
   &.btn--block {
     width: 100%;
   }
 }
 