@use "../abstracts" as *;

.lk{
  &-collapse{
    &--basic{
      background-color: $neutral-0;
      border-bottom: 1px solid $neutral-150;
    }
    &--rounded{
      background-color: $neutral-0;
      border-radius: $borderRadius;
      margin-bottom: 0.4rem;
    }
    &--margin{
      background-color: $neutral-0;
      margin-bottom: 0.4rem;
    }
    &--border{
      background-color: $neutral-0;
      border: 1px solid $neutral-150;
      margin-top: -1px;
      &-margin{
        background-color: $neutral-0;
        @extend .lk-collapse--border;
        @extend .lk-collapse--margin;
      }
    }
    &--title{
      cursor: pointer;
      padding: 0.8rem 1rem;
      position: relative;
      display: flex;
      align-items: center;
    }
    &--content{
      padding: 0 1rem;
      transition-duration: 0.2s;
      transition-property: all;
      max-height: 0;
      overflow: hidden;
      &.active {
        max-height: fit-content;
        overflow: visible;
        padding: 1rem;
      }
    }
    &--icon{
      transition: 0.2s all;
      &.active{
        transform: rotateZ(180deg);
      }
    }
    
  }
}
