@use "../abstracts" as *;

.lk{
  &-drawer{
    position: absolute;
    background-color: $neutral-0;
    transition-delay: 0.4s;
    transition: 0.2s all ease-in-out;
    &--container{
      position: fixed;
      z-index: 1000;
      inset: 0;
      height: 100vh;
      width: 100%;
      background-color: $backdrop;
      visibility: hidden;
      opacity: 0;
      transition: 0.2s all;
      &.active {
        visibility: visible;
        opacity: 1;
      }
    }
    &--header {
      border-bottom: 1px solid $neutral-150;
      display: flex;
      align-items: center;
      padding-left: 1rem;
      min-height: 4rem;
    }
    &--content {padding: 1rem}
    // base drawer style
    &--left {
      @extend .lk-drawer;
      height: 100%;
      inset: 0;
      transform: translateX(-100%);
      &.active {
        transform: translateX(0);
      }
    }
    &--right {
      @extend .lk-drawer;
      height: 100%;
      top: 0;
      right: 0;
      transform: translateX(100%);
      &.active {
        transform: translateX(0);
      }
    }
    &--top {
      @extend .lk-drawer;
      width: 100%;
      transform: translateY(-100%);
      &.active {
        transform: translateY(0);
      }
    }
    &--bottom {
      @extend .lk-drawer;
      width: 100%;
      bottom: 0;
      transform: translateY(100%);
      &.active {
        transform: translateY(0);
      }
    }
  }
}

