@use "../abstracts" as *;

.lk{
  &-dropdown{
    background-color: $neutral-0;
    box-shadow: 0px 0px 10px $neutral-200;
    position: absolute;
    z-index: 500;
    max-height: 0;
    overflow-y: hidden;
    transition: 0.2s all;
    min-width: 8rem;
    &--container{
      width: fit-content;
      &.rounded{
        @extend .lk-dropdown--container;
        .lk-dropdown {
          border-radius: 0.4rem;
          &--item {
            border-radius: 0.2rem;
          }
        }
        .lk-sub-dropdown--container {border-radius: 0.2rem}
      }
    }
    &--item{
      padding: 0.4rem 0.6rem;
      margin: 0 0.4rem;
      cursor: pointer;
      position: relative;
      &:hover {
        background-color: $primary-100;
        color: $primary-700;
      }
    }
    &--label{
      cursor: pointer;
      display: flex;
      align-items: center;
      margin: 0;
    }
    &.active{
      max-height: fit-content;
      overflow-y: visible;
      padding: 0.4rem 0;
    }
  }
}

// subdropdowns
.lk-sub-dropdown {
  @extend .lk-dropdown;
  left: 100%;
  top: 0;
  width: fit-content;
  &.active {
    max-height: fit-content;
    overflow-y: visible;
    padding: 0.4rem 0;
  }
  &--container {
    padding: 0.4rem 0.6rem;
    margin: 0 0.4rem;
    cursor: pointer;
    position: relative;
    &:hover {
      background-color: $primary-100;
    }
  }
}
