.lk-icon{
  box-sizing: border-box;
	width: 18px;
	height: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
  &--expand{
    width: 100%;
		height: 100%;
  }
  svg{
    width: auto;
		height: 100%;
		display: block;
  }
}
	

	

	

