@use "../abstracts" as *;


.lk{
  &-quantity{
    &--picker{
      border: 2px solid $neutral-150;
      width: fit-content;
      display: flex;
      align-items: center;
      background-color: $neutral-0;
      .lk-quantity--action {
        cursor: pointer;
        display: flex;
        padding: 0.6rem 0.8rem;
        color: $neutral-400;
        background-color: transparent;
        border: none;
        &:hover {
          color: $neutral-900;
        }
        &:focus {
          outline: 2px solid $primary-600;
        }
      }
    }
    &--count {
      padding: 0 0.6rem;
    }
    &--rounded {
      border-radius: 0.4rem;
      .lk-quantity-action {
        border-radius: 0.3rem;
      }
    }
    &--disabled {
      pointer-events: none;
      background-color: $neutral-150;
      color: $neutral-400;
    }
  }
}
