
@use "../abstracts" as *;


.lk{
  &-heading{
    margin: 0;
    padding: 0;
    &1 {font: $font-heading-1}
    &2 {font: $font-heading-2}
    &3 {font: $font-heading-3}
  }
  
}  

// Font sizes
// $default-font-size: 1rem !default; // 16px
// $font-size-xs: $default-font-size * 0.75; // 12px
// $font-size-sm: $default-font-size * 0.875; // 14px
// $font-size-md: $default-font-size; // 16px
// $font-size-lg: $default-font-size * 1.1875; // 19px

.typography {
  &--variant-display1 {
   font: $font-heading-1;
  }
  &--variant-display2 {
    font: $font-heading-2;
  }
  &--variant-heading1 {
    font-size: $font-size-lg;
  }
  &--variant-heading2 {
    font-size: $font-size-lg;
  }
  &--variant-heading3 {
    font-size: $font-size-md;
  }
  &--variant-heading4 {
    font-size: $font-size-md;
  }

  &--variant-body {
    font-size: $default-font-size;
  }
  &--variant-bodysmall {
    font-size: $font-size-sm;
  }
  &--variant-bodyxsmall {
    font-size: $font-size-xs;
  }
  &--variant-tag {
    font-size: $font-size-sm;
    letter-spacing: 3%;
  }
  &--variant-label {
    text-transform: uppercase;
    font-size: 11px;
  }
  &--variant-button {
    font-size: 14px;
  }
  &--variant-buttonLarge {
    font-size: 18px;
  }
  
  &--weight-thin {
    font-family: 'Basis Grotesque Arabic Pro';
    font-weight: light;
  }

  &--weight-bold {
    font-family: 'Basis Grotesque Arabic Pro';
    font-weight: bold;
  }
}


.black {
  color: color(neutral, 900);
}

.primary {
  color: $primary-600;
}

.secondary {
  color: color(neutral, 700);
}

.italic {
  font-family: 'LabGrotesque-Italic';
}


.white {
  color: color(neutral, 100);
}

.alignRight {
  text-align: right;
}

.alignCenter {
  text-align: center;
}

.alignStart {
  text-align: start;
}

.alignEnd {
  text-align: end;
}

