@use "../abstracts" as * ;

.lk-error-text {
  color: $danger-500;
  margin-top: 0.4rem;
  margin-left: 0.4rem;
  font-size: 0.8rem;
}

.lk-success-text{
  color: $success-600;
  margin-top: 0.4rem;
  margin-left: 0.4rem;
  font-size: 0.8rem;
}