// App layout is designed to be the framework of a commonly used dashboard page
// Each container is fixed position (CSS Grid)
// Main is only item with padding 12px for desktop 8px for mobile
// Main, Left, & Right all have an overflow scroll
// Left & Right become hidden for tablet and below and require JS to toggle open class
// Bottom should rarely be used - Footer should fall within main

// Grid Layout Items
.lk-app-layout__top {
    grid-area: top;
    overflow: visible;
}
.lk-app-layout__main {
    padding: 1rem 2rem;
    grid-area: main;
    overflow-x: hidden;
    overflow-y: auto;
    background: var(--colorBG);
}
.lk-app-layout__left {
    grid-area: left;
    overflow: visible;
}
.lk-app-layout__right {
    grid-area: right;
    overflow: visible;
}
.lk-app-layout__bottom {
    grid-area: bottom;
}

// Desktop
.lk-app-layout__container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: grid;
    gap: 0;
    grid-template-columns: max-content 1fr max-content;
    grid-template-rows: max-content 1fr max-content;
    grid-template-areas:
        'top top top'
        'left main right'
        'bottom bottom bottom';
}

// Tablet - Mobile & Tablet
@media (max-width: $tablet) {
    .lk-app-layout__main {
        padding: 0.5rem;
    }
    .lk-app-layout__left.lk-nav__side,
    .lk-app-layout__right.lk-nav__side {
        display: none;
    }

    .lk-app-layout__container {
        height: 100vh;
        grid-template-columns: 100%;
        grid-template-rows: max-content 1fr max-content;
        grid-template-areas:
            'top'
            'main'
            'bottom';
    }

    .lk-app-layout__left.lk-app-layout__left--open {
        display: flex;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: $z-index-5;
    }
    .lk-app-layout__right.lk-app-layout__right--open {
        display: flex;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: $z-index-5;
    }
}
