.lk-account-modal {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: $z-index-9;

    @media #{$phone-width},
    #{$phablet-width} {
        align-items: flex-start;
        bottom: auto;
        margin-top: ($unit * 2);
    }
}

// Show logo before
.lk-account-modal--logo:before {
    content: '';
    display: block;
    width: 214px;
    height: 67px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto ($unit * 1.5);
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIGlkPSJMYXllcl8yIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzNzAuMDMgNzMuMDkiPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDojMzUyMzUzO308L3N0eWxlPjwvZGVmcz48ZyBpZD0iTGF5ZXJfMS0yIj48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0zMDcuNTgsMjMuNzhoLTMuNDJjLS42NCwwLTEuMTYuNTItMS4xNiwxLjE2djIuMjdjLTIuMS0yLjEyLTUuMzktNC4yMS0xMC4xOC00LjIxLTguNTYsMC0xNS4yNyw2LjczLTE1LjI3LDE1LjMxczYuNzEsMTUuMzYsMTUuMjcsMTUuMzZjNC43NiwwLDguMDYtMi4xMSwxMC4xOC00LjIzdjIuMjljMCwuNjQuNTIsMS4xNiwxLjE2LDEuMTZoMy40MmMuNjQsMCwxLjE2LS41MiwxLjE2LTEuMTZ2LTI2Ljc5YzAtLjY0LS41Mi0xLjE2LTEuMTYtMS4xNlpNMjkzLjE1LDQ4LjIxYy01LjQ3LDAtOS43Ni00LjM1LTkuNzYtOS45czQuMjktOS44NSw5Ljc2LTkuODUsOS44NSw0LjQyLDkuODUsOS44NS00LjQyLDkuOS05Ljg1LDkuOVoiLz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0xMTUuMjUsMTUuODdoMy40MmMuNjQsMCwxLjE2LjUyLDEuMTYsMS4xNnYzNC43YzAsLjY0LS41MiwxLjE2LTEuMTYsMS4xNmgtMy40MmMtLjY0LDAtMS4xNi0uNTItMS4xNi0xLjE2VjE3LjAzYzAtLjY0LjUyLTEuMTYsMS4xNi0xLjE2WiIvPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTQwLjE0LDkuMjJjLTcuMzEtMi44OC0xNS4yOS0yLjc0LTIyLjQ3LjM4LS43MS4zMS0xLjI2Ljg4LTEuNTQsMS42LS4yOC43Mi0uMjcsMS41MS4wNCwyLjIybDkuMDUsMjAuODFjLjMzLjc2LDEuMjEsMS4xMSwxLjk3Ljc4bDIuNTctMS4xMmMuMzYtLjE2LjY1LS40Ni44LS44My4xNS0uMzcuMTQtLjc4LS4wMi0xLjE1bC03LjgyLTE3Ljk5YzExLjI5LTMuMzMsMjMuNTUsMi4zMSwyOC4yOSwxMy4yMSwzLjk0LDkuMDYsMS45LDE5LjM2LTUuMTksMjYuMjQtLjQ1LjQ0LS41OCwxLjEtLjMzLDEuNjhsMS4yLDIuNzVjLjE5LjQ0LjU5Ljc3LDEuMDYuODcuMTEuMDIuMjEuMDMuMzIuMDMuMzcsMCwuNzMtLjEzLDEtLjM5LDkuMzgtOC40NiwxMi4zLTIxLjkyLDcuMjYtMzMuNS0zLjEyLTcuMTgtOC44Ny0xMi43My0xNi4xOC0xNS42MVoiLz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0xMDcuODksMzEuNjVoLTEzLjc5Yy0uNjQsMC0xLjE2LjUyLTEuMTYsMS4xNnYzLjE5YzAsLjY0LjUyLDEuMTYsMS4xNiwxLjE2aDkuMjF2Ny41NGMtMi41NiwyLjI3LTUuODEsMy41Mi05LjIxLDMuNTItNy41MiwwLTEzLjY1LTYuMi0xMy42NS0xMy44M3M2LjEyLTEzLjgzLDEzLjY1LTEzLjgzYzMuNjksMCw3LjI5LDEuNDgsOS44Nyw0LjA2LjQ1LjQ1LDEuMTguNDUsMS42NCwwbDIuMTctMi4xN2MuMjItLjIyLjM0LS41MS4zNC0uODJzLS4xMi0uNi0uMzQtLjgyYy0zLjYzLTMuNjMtOC42MS01LjcxLTEzLjY4LTUuNzEtMTAuNzQsMC0xOS40OCw4LjY1LTE5LjQ4LDE5LjI5czguNzQsMTkuMjksMTkuNDgsMTkuMjljNS42NSwwLDEwLjk5LTIuNDYsMTQuNjYtNi43NC4xOC0uMjEuMjgtLjQ4LjI4LS43NXYtMTMuMzdjMC0uNjQtLjUyLTEuMTYtMS4xNi0xLjE2WiIvPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTE0Ljk3LDYuNzhjLjQ1LDAsLjkxLS4wOSwxLjM1LS4yOC44My0uMzYsMS40Ny0xLjAyLDEuOC0xLjg3LjMzLS44NC4zMi0xLjc2LS4wNS0yLjU5LS4zNi0uODMtMS4wMi0xLjQ3LTEuODYtMS44LS44NC0uMzMtMS43Ni0uMzItMi42LjA1LTEuNzEuNzUtMi41LDIuNzUtMS43Niw0LjQ2LjU1LDEuMjcsMS44LDIuMDQsMy4xMSwyLjA0WiIvPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTQ2LjksNjguMzVjLS43NS0xLjcxLTIuNzUtMi41LTQuNDYtMS43Ni0xLjcxLjc0LTIuNSwyLjc1LTEuNzYsNC40Ni41NiwxLjI3LDEuOCwyLjA0LDMuMTEsMi4wNC40NSwwLC45MS0uMDksMS4zNS0uMjgsMS43MS0uNzQsMi41LTIuNzUsMS43Ni00LjQ2aDBaIi8+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNNDIuNiw1OS42N2wtOS4wNS0yMC44MWMtLjMzLS43Ni0xLjIxLTEuMTEtMS45Ny0uNzhsLTIuNTcsMS4xMmMtLjM2LjE2LS42NS40Ni0uOC44My0uMTUuMzctLjE0Ljc4LjAyLDEuMTVsNy44MiwxNy45OWMtMTEuMjksMy4zMy0yMy41NS0yLjMxLTI4LjI5LTEzLjIxLTMuODctOC44OS0xLjc4LTE5LjQzLDUuMTktMjYuMjQuNDUtLjQzLjU4LTEuMS4zMy0xLjY3bC0xLjItMi43NmMtLjE5LS40NC0uNTktLjc3LTEuMDYtLjg3LS40Ny0uMTEtLjk2LjAzLTEuMzIuMzVDLjMyLDIzLjIxLTIuNiwzNi42OCwyLjQ0LDQ4LjI2YzQuODEsMTEuMDUsMTUuNjMsMTcuNjYsMjYuOTgsMTcuNjYsMy45LDAsNy44Ny0uNzgsMTEuNjctMi40NCwxLjQ3LS42NCwyLjE0LTIuMzUsMS41LTMuODJaIi8+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNMTQwLDIzYy04LjYsMC0xNS41OSw2Ljg3LTE1LjU5LDE1LjMxczYuOTksMTUuMzYsMTUuNTksMTUuMzYsMTUuNTktNi44OSwxNS41OS0xNS4zNi02Ljk5LTE1LjMxLTE1LjU5LTE1LjMxWk0xNDAsNDguMjFjLTUuMzgsMC05Ljc2LTQuNDQtOS43Ni05LjlzNC4zOC05Ljg1LDkuNzYtOS44NSw5Ljc2LDQuNDIsOS43Niw5Ljg1LTQuMjksOS45LTkuNzYsOS45WiIvPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTI1NS40OSwxNS44N2gtMTEuODRjLS42NCwwLTEuMTYuNTItMS4xNiwxLjE2djM0LjdjMCwuNjQuNTIsMS4xNiwxLjE2LDEuMTZoMTEuODRjMTAuMjgsMCwxOC42NC04LjMsMTguNjQtMTguNXMtOC4zNi0xOC41MS0xOC42NC0xOC41MVpNMjU1LjQ5LDQ3LjM4aC03LjI2di0yNmg3LjI2YzcuMTksMCwxMi44Miw1LjcxLDEyLjgyLDEzcy01LjYzLDEzLTEyLjgyLDEzWiIvPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTIzMi40LDE1Ljg3aDMuNDJjLjY0LDAsMS4xNi41MiwxLjE2LDEuMTZ2MzQuN2MwLC42NC0uNTIsMS4xNi0xLjE2LDEuMTZoLTMuNDJjLS42NCwwLTEuMTYtLjUyLTEuMTYtMS4xNlYxNy4wM2MwLS42NC41Mi0xLjE2LDEuMTYtMS4xNloiLz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0zMjYuMSw0OC4yNGMtLjEzLS4zMy0uNC0uNTgtLjc0LS42OC0uMzQtLjEtLjctLjA1LS45OS4xNi0uNDcuMzItLjguNDktMS4zMy40OS0xLjMxLDAtMS43Ni0uNDItMS43Ni0xLjY3di0xNy4yNmg0LjM5Yy42NCwwLDEuMTYtLjUyLDEuMTYtMS4xNnYtMy4xOWMwLS42NC0uNTItMS4xNi0xLjE2LTEuMTZoLTQuMzl2LTQuOWMwLS42NC0uNTItMS4xNi0xLjE2LTEuMTZoLTMuNDJjLS42NCwwLTEuMTYuNTItMS4xNiwxLjE2djQuOWgtMS45OWMtLjY0LDAtMS4xNi41Mi0xLjE2LDEuMTZ2My4xOWMwLC42NC41MiwxLjE2LDEuMTYsMS4xNmgxLjk5djE3LjM1YzAsNC4yMSwzLjAxLDcuMDMsNy40OSw3LjAzLDEuMjUsMCwyLjQ0LS4zNCwzLjcyLTEuMDguNS0uMjkuNzEtLjkuNS0xLjQzbC0xLjE2LTIuOTFaIi8+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNMzY5Ljc1LDQ4LjM0Yy0uNzUtMS43MS0yLjc1LTIuNS00LjQ2LTEuNzYtLjgzLjM2LTEuNDcsMS4wMi0xLjgsMS44Ny0uMzMuODQtLjMxLDEuNzYuMDUsMi41OS4zNi44MywxLjAyLDEuNDcsMS44NiwxLjguNC4xNi44Mi4yNCwxLjI0LjI0LjQ2LDAsLjkyLS4wOSwxLjM1LS4yOCwxLjcxLS43NCwyLjUtMi43NCwxLjc2LTQuNDZaIi8+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNMTc2LjA5LDIzYy00Ljc5LDAtOC4wOCwyLjEtMTAuMTgsNC4yMXYtMTAuMThjMC0uNjQtLjUyLTEuMTYtMS4xNi0xLjE2aC0zLjQyYy0uNjQsMC0xLjE2LjUyLTEuMTYsMS4xNnYzNC43YzAsLjY0LjUyLDEuMTYsMS4xNiwxLjE2aDMuNDJjLjY0LDAsMS4xNi0uNTIsMS4xNi0xLjE2di0yLjI5YzIuMTEsMi4xMiw1LjQxLDQuMjQsMTAuMTgsNC4yNCw4LjU2LDAsMTUuMjctNi43NSwxNS4yNy0xNS4zNnMtNi43MS0xNS4zMS0xNS4yNy0xNS4zMVpNMTc1Ljc3LDQ4LjIxYy01LjQzLDAtOS44NS00LjQ0LTkuODUtOS45czQuNDItOS44NSw5Ljg1LTkuODUsOS43Niw0LjMzLDkuNzYsOS44NS00LjI5LDkuOS05Ljc2LDkuOVoiLz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0zNTguOCwyMy43OGgtMy40MmMtLjY0LDAtMS4xNi41Mi0xLjE2LDEuMTZ2Mi4yN2MtMi4xLTIuMTItNS4zOS00LjIxLTEwLjE3LTQuMjEtOC41NiwwLTE1LjI3LDYuNzMtMTUuMjcsMTUuMzFzNi43MSwxNS4zNiwxNS4yNywxNS4zNmM0Ljc2LDAsOC4wNi0yLjExLDEwLjE3LTQuMjN2Mi4yOWMwLC42NC41MiwxLjE2LDEuMTYsMS4xNmgzLjQyYy42NCwwLDEuMTUtLjUyLDEuMTUtMS4xNnYtMjYuNzljMC0uNjQtLjUxLTEuMTYtMS4xNS0xLjE2Wk0zNDQuMzcsNDguMjFjLTUuNDcsMC05Ljc2LTQuMzUtOS43Ni05LjlzNC4yOS05Ljg1LDkuNzYtOS44NSw5Ljg1LDQuNDIsOS44NSw5Ljg1LTQuNDIsOS45LTkuODUsOS45WiIvPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTIyNC41OCwyMy43OGgtMy40MmMtLjY0LDAtMS4xNi41Mi0xLjE2LDEuMTZ2Mi4yN2MtMi4xLTIuMTItNS4zOS00LjIxLTEwLjE4LTQuMjEtOC41NiwwLTE1LjI3LDYuNzMtMTUuMjcsMTUuMzFzNi43MSwxNS4zNiwxNS4yNywxNS4zNmM0Ljc2LDAsOC4wNi0yLjExLDEwLjE4LTQuMjN2Mi4yOWMwLC42NC41MiwxLjE2LDEuMTYsMS4xNmgzLjQyYy42NCwwLDEuMTYtLjUyLDEuMTYtMS4xNnYtMjYuNzljMC0uNjQtLjUyLTEuMTYtMS4xNi0xLjE2Wk0yMTAuMTQsNDguMjFjLTUuNDcsMC05Ljc2LTQuMzUtOS43Ni05LjlzNC4yOS05Ljg1LDkuNzYtOS44NSw5Ljg1LDQuNDIsOS44NSw5Ljg1LTQuNDIsOS45LTkuODUsOS45WiIvPjwvZz48L3N2Zz4=");
    // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 221.54 69.26'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='183.69' y1='18.81' x2='221.54' y2='18.81' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2300ce7c'/%3E%3Cstop offset='1' stop-color='%234ac1e0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath d='M3.25,64.5a1.78,1.78,0,0,1,2.43-1,13.44,13.44,0,0,0,4.72.87,7.7,7.7,0,0,0,4.76-1.38A5,5,0,0,0,17,58.64V56.89l.09-1.19H17a6.87,6.87,0,0,1-6.42,3.49A9.54,9.54,0,0,1,2.82,55.8,12.82,12.82,0,0,1,0,47.32,12.49,12.49,0,0,1,2.75,39a9.59,9.59,0,0,1,7.79-3.28,9.91,9.91,0,0,1,2.79.37,6.48,6.48,0,0,1,2,.89,9,9,0,0,1,1.23,1,3.92,3.92,0,0,1,.69.9l.18.36h.1a2.44,2.44,0,0,1-.05-.59v-.87A1.47,1.47,0,0,1,18,36.71a2.07,2.07,0,0,1,1.4-.43h1.56a1.67,1.67,0,0,1,1.87,1.92v20c0,3.7-1.19,6.46-3.59,8.3a13.61,13.61,0,0,1-8.5,2.74A17.36,17.36,0,0,1,3.89,68a1.67,1.67,0,0,1-1-2.48Zm8.48-10.22a5.11,5.11,0,0,0,3.87-1.6q1.53-1.6,1.53-5.22,0-6.78-5.68-6.78a5.09,5.09,0,0,0-4.12,1.74,7,7,0,0,0-1.47,4.67,8.16,8.16,0,0,0,1.56,5.22A5.18,5.18,0,0,0,11.73,54.28Z' fill='%23565959'/%3E%3Cpath d='M27.81,51.31V38.2a1.7,1.7,0,0,1,1.92-1.92h2a1.7,1.7,0,0,1,1.92,1.92V50.11a6.45,6.45,0,0,0,.81,3.56,3.13,3.13,0,0,0,2.81,1.21A5.7,5.7,0,0,0,42,52.59,8.87,8.87,0,0,0,43.8,47V38.2a1.7,1.7,0,0,1,1.92-1.92h2a1.7,1.7,0,0,1,1.92,1.92V57.72a1.7,1.7,0,0,1-1.92,1.92H45.9A1.68,1.68,0,0,1,44,57.72V56.35l.1-1.06H44a8.55,8.55,0,0,1-3.11,3.44,8.85,8.85,0,0,1-5,1.46Q27.81,60.19,27.81,51.31Z' fill='%23565959'/%3E%3Cpath d='M54.88,57.72V38.2a1.68,1.68,0,0,1,1.88-1.92h1.79a1.67,1.67,0,0,1,1.87,1.92v1.42l-.09,1.06h.09a9.3,9.3,0,0,1,3-3.46,7.75,7.75,0,0,1,4.6-1.49c3.58,0,5.85,1.6,6.83,4.81H75a8.92,8.92,0,0,1,3.19-3.39A8.53,8.53,0,0,1,83,35.73q7.65,0,7.65,8.89v13.1a1.7,1.7,0,0,1-1.92,1.92h-2a1.7,1.7,0,0,1-1.92-1.92v-12a7.29,7.29,0,0,0-.67-3.48A2.64,2.64,0,0,0,81.59,41a5,5,0,0,0-4.38,2.41,10.16,10.16,0,0,0-1.58,5.7v8.57a1.67,1.67,0,0,1-1.87,1.92h-2a1.7,1.7,0,0,1-1.92-1.92v-12a7.81,7.81,0,0,0-.62-3.46A2.54,2.54,0,0,0,66.7,41a5,5,0,0,0-4.47,2.43,10.2,10.2,0,0,0-1.58,5.68v8.57a1.68,1.68,0,0,1-1.88,1.92h-2A1.68,1.68,0,0,1,54.88,57.72Z' fill='%23565959'/%3E%3Cpath d='M97.49,64.5a1.76,1.76,0,0,1,2.42-1,13.44,13.44,0,0,0,4.72.87,7.74,7.74,0,0,0,4.77-1.38,5,5,0,0,0,1.83-4.3V56.89l.09-1.19h-.09a6.86,6.86,0,0,1-6.42,3.49,9.55,9.55,0,0,1-7.76-3.39,12.82,12.82,0,0,1-2.82-8.48A12.49,12.49,0,0,1,97,39a9.59,9.59,0,0,1,7.79-3.28,9.86,9.86,0,0,1,2.79.37,6.48,6.48,0,0,1,2,.89,9.07,9.07,0,0,1,1.24,1,4.12,4.12,0,0,1,.68.9l.19.36h.09a3.09,3.09,0,0,1,0-.59v-.87a1.47,1.47,0,0,1,.48-1.13,2.07,2.07,0,0,1,1.4-.43h1.56a1.68,1.68,0,0,1,1.88,1.92v20c0,3.7-1.2,6.46-3.6,8.3a13.61,13.61,0,0,1-8.5,2.74A17.31,17.31,0,0,1,98.13,68a1.68,1.68,0,0,1-1-2.48ZM106,54.28a5.11,5.11,0,0,0,3.87-1.6c1-1.07,1.54-2.81,1.54-5.22q0-6.78-5.68-6.78a5.1,5.1,0,0,0-4.13,1.74,7,7,0,0,0-1.46,4.67,8.21,8.21,0,0,0,1.55,5.22A5.18,5.18,0,0,0,106,54.28Z' fill='%23565959'/%3E%3Cpath d='M122,51.31V38.2A1.7,1.7,0,0,1,124,36.28h2a1.7,1.7,0,0,1,1.93,1.92V50.11a6.45,6.45,0,0,0,.8,3.56,3.13,3.13,0,0,0,2.82,1.21,5.7,5.7,0,0,0,4.78-2.29A8.87,8.87,0,0,0,138,47V38.2A1.7,1.7,0,0,1,140,36.28h2a1.7,1.7,0,0,1,1.93,1.92V57.72a1.7,1.7,0,0,1-1.93,1.92h-1.79a1.67,1.67,0,0,1-1.87-1.92V56.35l.09-1.06h-.09a8.51,8.51,0,0,1-3.12,3.44,8.83,8.83,0,0,1-5,1.46Q122,60.19,122,51.31Z' fill='%23565959'/%3E%3Cpath d='M149.11,57.72V38.2A1.68,1.68,0,0,1,151,36.28h1.79a1.68,1.68,0,0,1,1.88,1.92v1.42l-.1,1.06h.1a9.18,9.18,0,0,1,3-3.46,7.78,7.78,0,0,1,4.61-1.49c3.57,0,5.85,1.6,6.82,4.81h.09a9.08,9.08,0,0,1,3.19-3.39,8.54,8.54,0,0,1,4.79-1.42q7.65,0,7.65,8.89v13.1a1.7,1.7,0,0,1-1.93,1.92h-2A1.7,1.7,0,0,1,179,57.72v-12a7.18,7.18,0,0,0-.67-3.48,2.64,2.64,0,0,0-2.54-1.2,5,5,0,0,0-4.37,2.41,10.08,10.08,0,0,0-1.58,5.7v8.57A1.68,1.68,0,0,1,168,59.64h-2a1.7,1.7,0,0,1-1.92-1.92v-12a7.81,7.81,0,0,0-.62-3.46,2.54,2.54,0,0,0-2.5-1.22,5,5,0,0,0-4.46,2.43,10.12,10.12,0,0,0-1.58,5.68v8.57A1.68,1.68,0,0,1,153,59.64h-2A1.68,1.68,0,0,1,149.11,57.72Z' fill='%23565959'/%3E%3Cpath d='M214.1,0H202.53a7.44,7.44,0,0,0-7.43,7.44V20.86a.53.53,0,0,0,0,.12,1.56,1.56,0,0,1-.31,0H189.4a5.71,5.71,0,0,0-5.71,5.71v5.2a5.71,5.71,0,0,0,5.71,5.71h5.2a5.71,5.71,0,0,0,5.71-5.71V26.67a.58.58,0,0,1,0-.19,1,1,0,0,1,.31,0H214.1A7.45,7.45,0,0,0,221.54,19V7.44A7.45,7.45,0,0,0,214.1,0Zm2.22,7.44V19a2.22,2.22,0,0,1-2.22,2.22H200.3c0-.11,0-.22,0-.33V7.44a2.23,2.23,0,0,1,2.22-2.23H214.1A2.22,2.22,0,0,1,216.32,7.44Zm-21.2,18.77c0,.23,0,.41,0,.53V31.9a.51.51,0,0,1-.5.5h-5.2a.51.51,0,0,1-.5-.5V26.7a.51.51,0,0,1,.5-.49h5.72Z' fill='url(%23a)'/%3E%3C/svg%3E");

    @media #{$phone-width},
    #{$phablet-width} {
        margin-bottom: 0;
        width: 234px;
        height: 61px;
    }
}

// Logo General Product
.lk-account-modal__logo-product {
    height: 7px;
    width: auto;
    top: -26px;
    position: absolute;
    right: 50%;
    transform: translateX(119px);
    font-family: $sec-font-bold;
    font-weight: $font-weight-bolder;
    letter-spacing: 6.3px;
    font-size: 9px;
    text-rendering: auto;
    text-align: right;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: uppercase;
    color: #909c9c;

    @media #{$phone-width},
    #{$phablet-width} {
        top: 0;
        transform: translateX(99px);
        letter-spacing: 5px;
        font-size: 8px;
    }
}

// Specific product form cap
.lk-account-modal__form-cap {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    background-color: var(--colorBG);
    border-radius: $border-radius $border-radius 0 0;
    color: $grayLight5Color;
    font-family: $sec-font-bold;
    font-weight: $font-weight-bolder;
    letter-spacing: 0.25rem;
    text-indent: 0.6rem;
    font-size: 1.1rem;
    line-height: 1.3rem;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: uppercase;

    @media #{$phone-width},
    #{$phablet-width} {
        margin-left: 1rem;
        width: calc(100% - 2rem);
        padding: 7px 0;
        letter-spacing: 0.4rem;
        text-indent: 0.4rem;
        font-size: 0.9rem;
    }
}

.lk-account-modal__form {
    width: 400px;

    @media #{$phone-width},
    #{$phablet-width} {
        width: 100%;
        background: transparent;
        border: none;
        box-shadow: none;
    }
}

.lk-account-modal__extra-links {
    display: block;
    width: 100%;
    text-align: center;
}
