/* uaing style linking
se the same font-family name multiple times, setting the weights and styles 
in each @font-face declaration to match the weight and style of the Web font file being accessed
*/

@font-face {
  font-family: 'Basis Grotesque Arabic Pro';
  src: url('fonts/BasisGrotesqueArabicPro/BasisGrotesqueArabicPro-Bold.eot');
  src: url('fonts/BasisGrotesqueArabicPro/BasisGrotesqueArabicPro-Bold.eot?#iefix') format('embedded-opentype'),
      url('fonts/BasisGrotesqueArabicPro/BasisGrotesqueArabicPro-Bold.woff2') format('woff2'),
      url('fonts/BasisGrotesqueArabicPro/BasisGrotesqueArabicPro-Bold.woff') format('woff'),
      url('fonts/BasisGrotesqueArabicPro/BasisGrotesqueArabicPro-Bold.ttf') format('truetype'),
      url('fonts/BasisGrotesqueArabicPro/BasisGrotesqueArabicPro-Bold.svg#BasisGrotesqueArabicPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basis Grotesque Arabic Pro Blk';
  src: url('fonts/BasisGrotesqueArabicPro/BasisGrotesqueArabicPro-Black.eot');
  src: url('fonts/BasisGrotesqueArabicPro/BasisGrotesqueArabicPro-Black.eot?#iefix') format('embedded-opentype'),
      url('fonts/BasisGrotesqueArabicPro/BasisGrotesqueArabicPro-Black.woff2') format('woff2'),
      url('fonts/BasisGrotesqueArabicPro/BasisGrotesqueArabicPro-Black.woff') format('woff'),
      url('fonts/BasisGrotesqueArabicPro/BasisGrotesqueArabicPro-Black.ttf') format('truetype'),
      url('fonts/BasisGrotesqueArabicPro/BasisGrotesqueArabicPro-Black.svg#BasisGrotesqueArabicPro-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basis Grotesque Arabic Pro Lt';
  src: url('fonts/BasisGrotesqueArabicPro/BasisGrotesqueArabicPro-Light.eot');
  src: url('fonts/BasisGrotesqueArabicPro/BasisGrotesqueArabicPro-Light.eot?#iefix') format('embedded-opentype'),
      url('fonts/BasisGrotesqueArabicPro/BasisGrotesqueArabicPro-Light.woff2') format('woff2'),
      url('fonts/BasisGrotesqueArabicPro/BasisGrotesqueArabicPro-Light.woff') format('woff'),
      url('fonts/BasisGrotesqueArabicPro/BasisGrotesqueArabicPro-Light.ttf') format('truetype'),
      url('fonts/BasisGrotesqueArabicPro/BasisGrotesqueArabicPro-Light.svg#BasisGrotesqueArabicPro-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basis Grotesque Arabic Pro';
  src: url('fonts/BasisGrotesqueArabicPro/BasisGrotesqueArabicPro-Regular.eot');
  src: url('fonts/BasisGrotesqueArabicPro/BasisGrotesqueArabicPro-Regular.eot?#iefix') format('embedded-opentype'),
      url('fonts/BasisGrotesqueArabicPro/BasisGrotesqueArabicPro-Regular.woff2') format('woff2'),
      url('fonts/BasisGrotesqueArabicPro/BasisGrotesqueArabicPro-Regular.woff') format('woff'),
      url('fonts/BasisGrotesqueArabicPro/BasisGrotesqueArabicPro-Regular.ttf') format('truetype'),
      url('fonts/BasisGrotesqueArabicPro/BasisGrotesqueArabicPro-Regular.svg#BasisGrotesqueArabicPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basis Grotesque Arabic Pro Md';
  src: url('fonts/BasisGrotesqueArabicPro/BasisGrotesqueArabicPro-Medium.eot');
  src: url('fonts/BasisGrotesqueArabicPro/BasisGrotesqueArabicPro-Medium.eot?#iefix') format('embedded-opentype'),
      url('fonts/BasisGrotesqueArabicPro/BasisGrotesqueArabicPro-Medium.woff2') format('woff2'),
      url('fonts/BasisGrotesqueArabicPro/BasisGrotesqueArabicPro-Medium.woff') format('woff'),
      url('fonts/BasisGrotesqueArabicPro/BasisGrotesqueArabicPro-Medium.ttf') format('truetype'),
      url('fonts/BasisGrotesqueArabicPro/BasisGrotesqueArabicPro-Medium.svg#BasisGrotesqueArabicPro-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
